p{
    background-color: pink;
}

span{
    background-color: rgb(132, 194, 205);
}

k{
    background-color: yellow;
}
h6{
    background-color: aqua;
}
k{
    background-color: rgb(198, 96, 96)
}
z {
    background-color: aquamarine;
}
table{
    background-color: rgb(41, 204, 204);
}
q{
    background-color: rgb(227, 225, 228);
}